.container{
    perspective: 600px;
    margin: 50px;
}
 
.box3d{
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: 200px;
}