.child{
    position: sticky;
    top: 300px;
    color: black;
    border: 3px solid green;
}

.parent{
    height: 50px;
    background: aqua;
}

.long_containt{
    border: 1px solid red;
}

body{
    height: 300vh;
}

